* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}
.lft-action ul li{
    list-style: none;
    display: inline;
    justify-content: space-around;
}
.lft-action ul :nth-child(2){
    background-color: #368af8;
    border-radius: 15px;
    color: #ffffff;
    
}
.rgt-action{
    margin-left: auto;
    margin-right: 40px;
}
.rgt-action ul{
    justify-content: space-around;
    justify-self: auto;
}
.rgt-action ul li{
    list-style: none;
    display: inline;
    justify-items: auto;
}
.rgt-action ul :nth-child(5){
    border: 1px solid #368af8;
    border-radius: 20px;
    color: #368af8;
    font-size: 15px;
}
#aside{
    background-color: #f9f9f9;
    color: #9e9d9d;
    box-shadow: #f5f3f3 2px 4px 5px 5px;
}
#aside ul :first-child a{
    margin-left: -50px;   
}
#aside ul :first-child a:visited{
    background-color: #f2f2f2;
    color: #368af8;
}
#aside ul :nth-child(2){
    margin-left: 20px;
}
#aside ul :nth-child(3){
    margin-left: 20px;
}
#aside ul :nth-child(4){
    margin-left: 20px;
}
#aside ul :nth-child(5){
    margin-left: 20px;
}
#aside ul :last-child{
    margin-left: 7px;

}
#aside ul li{
    list-style: none;
    margin-top: 20px;
    margin-left: 37px;
    font-size: 18px;
    color: #535252;
}

#aside ul li a{
    text-decoration: none;
    color: #8a9294;
}
/*#aside ul li a:visited{
    color: #368af8;
}
 #aside ul li a:hover, #aside ul li a:active, #aside ul li a:focus{
    background-color: #ebe8e8;
} */
#aside footer{
    margin-top: 380px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #cccccc;
    color: #a5a4a4;
}
.task{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    
}
/* .task a:hover, .task a:active, .task a:focus{
    background-color: #f2f2f2; 
} */
.task-nav{
    margin-left: auto;
}
.task-nav ul li{
    list-style: none;
    display: inline;
}
.task-all{
    justify-content: space-evenly;
}
.task-p #personal{
   height: 540px;
}
/* .task-p #personal input{
    width: 260px;
    margin-left: 10px;
} */
.task-p #personal h5{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #535252;
}
.task-p #personal ul li{
    list-style: none;
}
.task-p #personal ul li:first-child{
    margin-top: 10px;
    border: solid #b8b7b7 1px;
    border-radius: 5px;
    margin-left: -30px;
    width: 250px;
}
.task-p #personal ul li:first-child i{
    margin-left: 10px;
    color: #b8b7b7;
}
.task-p #personal ul li:nth-child(2){
    margin-top: 500px;
    border: #f2f2f2 solid 1px;
    margin-left: -40px;
    width: 313px;
    background-color: #ffffff;
    box-shadow: #d4d4d4 2px 4px 5px 5px;
}
.task-p #personal ul li:nth-child(2) input{
    margin-left: 10px;
    font-size: 15px;
    border: 1px #e2e1e1 solid;
    border-radius: 20px;
    padding: 4px 2px; 
    color: #b8b7b7; 
    width: 220px;  
}
.task-p #personal ul li:nth-child(2) i{
    font-size: 30px;
    margin-top: 1px;
    margin-left: 30px;
    color: #b8b7b7;
}
.task-w #work{
    height: 540px;
 }

 .task-w #work h5{
     margin-left: 10px;
     margin-top: 10px;
     font-size: 18px;
     color: #535252;
 }
 .task-w #work ul li{
     list-style: none;
 }
 .task-w #work ul li:first-child{
     margin-top: 10px;
     border: solid #b8b7b7 1px;
     border-radius: 5px;
     margin-left: -30px;
     width: 250px;
 }
 .task-w #work ul li:first-child i{
     margin-left: 10px;
     color: #b8b7b7;
 }
 .task-w #work ul li:nth-child(2){
     margin-top: 500px;
     border: #f2f2f2 solid 1px;
     margin-left: -40px;
     width: 313px;
     background-color: #ffffff;
     box-shadow: #d4d4d4 2px 4px 5px 5px;
 }
 .task-w #work ul li:nth-child(2) input{
    margin-left: 10px;
    font-size: 15px;
    border: 1px #e2e1e1 solid;
    border-radius: 20px;
    padding: 4px 0px; 
    color: #b8b7b7; 
    width: 220px;  
}
.task-w #work ul li:nth-child(2) i{
    font-size: 30px;
    margin-top: 1px;
    margin-left: 30px;
    color: #b8b7b7;
 }
 .task-g #grocery{
    height: 500px;
 }

 .task-g #grocery h5{
     margin-left: 10px;
     margin-top: 10px;
     font-size: 18px;
     color: #535252;
 }
 .task-g #grocery ul li{
     list-style: none;
 }
 .task-g #grocery ul li:first-child{
     margin-top: 10px;
     border: solid #b8b7b7 1px;
     border-radius: 5px;
     margin-left: -30px;
     width: 250px;
 }
 .task-g #grocery ul li:first-child i{
     margin-left: 10px;
     color: #b8b7b7;
 }
 .task-g #grocery ul li:nth-child(2){
     margin-top: 500px;
     border: #f2f2f2 solid 1px;
     margin-left: -40px;
     width: 313px;
     background-color: #ffffff;
     box-shadow: #d4d4d4 2px 4px 5px 5px;
 }
 .task-g #grocery ul li:nth-child(2) input{
    margin-left: 10px;
    font-size: 15px;
    border: 1px #e2e1e1 solid;
    border-radius: 20px;
    padding: 4px 0px; 
    color: #e2e1e1; 
    width: 220px;  
}
.task-g #grocery ul li:nth-child(2) i{
    font-size: 30px;
    margin-top: 1px;
    margin-left: 30px;
    color: #b8b7b7;
 }